body {
  margin : 0;
  background-color: #303030;
  color : white
}
 
.title {
  text-align: center;
  margin-top: 150px;
}
.title-sub {
  text-align: center;
}

.food {
  margin: 20px auto;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
} 
.food:hover{
  box-shadow: 0px 0px 3px 1px white;
  cursor: pointer;
}

.navbar {
  background: white;
  padding: 20px;
}
.navbar a {
  color: black;
  margin-right: 10px;
  text-decoration: none;
} 

.food-img{
  width: 100%;
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
} 

.btn-count{
  display: flex;
  align-items: center;
  justify-content: center;
}
